body {
    background-color: #1A1F24;
    font-family: Verdana;
}

.container_select {
    background-color: #262B30;
    width: 96%;
    display: flex;
    justify-content: center;
    border-radius: 18px;
    margin-top: 20px;
    margin-left: 30px;
}

.container_select_filho {
    background-color: #262B30;
    color: white;
    border-color: none;
    border: none;
    font-size: 20px;
    padding: 10px;
}

.container_dashboard {
    display: flex;
    flex-direction: row;
}

.container_dashboard_kpi_grafico {
    height: 665px;
    width: 800px;
}

.container_dashboard_kpi_grafico_filho {
    border: 30px;
    display: flex;
    justify-content: space-around;
    width: 750px;
    height: 200px;
    margin-top: 15px;
}

.c_div_kpi {   
    background-color: #262B30;
    width: 300px;
    height: 175px;
    border-radius: 20px;
    color: white;
}

.c_div_kpi_titulo {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.c_div_kpi_texto {
    display: flex;
    justify-content: baseline;
    justify-content: space-around;
}

.c_div_kpi_subtitulo {
    display: flex;
    justify-content: baseline;
    justify-content: space-around;
}

.div_grafico_temperatura {
    width: 705px;
    height: 200px;
    margin-left: 30px;
    background-color: #494C4E;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.div_grafico_umidade {
    width: 705px;
    height: 200px;
    margin-left: 30px;
    background-color: #262B30;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container_historico {
    height: 665px;
    width: 700px;
}

.container_historico_temp_umi_cima {
    margin-top: 15px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    width: 600px;
    color: white;
}

.container_historico_temp_umi_baixo {
    margin-top: 30px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    width: 600px;
    color: white;
}

.ch_div_historico_temperatura {
    width: 275px;
    height: 100%;
    background-color: #494C4E;
    border-radius: 20px;
}

.ch_div_historico_umidade {
    width: 275px;
    height: 100%;
    background-color: #262B30;
    border-radius: 20px;
}

.ch_div_historico_titulo {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
}

.ch_div_historico_subtitulo {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
}

.ch_div_historico_informacoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ch_div_historico_datas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
    padding-left: 25px;
}

.ch_div_historico_valores {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 13px;
    padding-left: 25px;
    padding-right: 35px;
    gap: 17px;
}

.container_tela_taque1 {
    display: flex;
    flex-direction: row;
    border-top: 100px;
}

.container_tela_tanque1_temperatura {
    height: 600px;
    width: 800px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    flex-direction: column;
}

.container_tela_tanque1_umidade {
    height: 600px;
    width: 600px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    flex-direction: column;
}

.ctl_kpi {
    background-color: #262B30;
    width: 300px;
    height: 175px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
}

.ctl_kpi_texto {
    border-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_graficos_tela1 {
    width: 600px;
    height: 320px;
    margin-top: 20px;
    background-color: #262B30;
    border-radius: 20px;
}